<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"➥
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAeiHm3op2PZJOTlqE4m-xZRSNALxHS9KdVZMSEXKo704HT4jVDhSl8BrOOwLJoUj96rgPULuF3m0ZHg" type="text/javascript"></script>
		
		<%=javascript_include_tag 'prototype', 'application'%>
		
		<script type="text/javascript">
		var parrays=<%=@parray.to_json%>;
		</script>

		<%=stylesheet_link_tag 'style'%>

	</head>

	<body id ="body">
		
		<div id="toolbar">
			<h1>Carlyle Parcels</h1>
			<ul id="options">
				<li><a href="#">Owners</a></li>
				<li><a href="#">Called</a></li>
			</ul>
			<ul id="sidebar-controls">
				<li><%=link_to_function 'hide', "Element.addClassName('body','sidebar-off')",{:id=>'button-sidebar-hide'}%></li>
				<li><%=link_to_function 'show', "Element.removeClassName('body','sidebar-off')",{:id=>'button-sidebar-show'}%></li>
			</ul>
		</div>
	
		<div id="content">
			<div id="map-wrapper">
				<div id="map"></div>
			</div>
			
			<div id="sidebar">
				<ul id="sidebar-list">
					<%@parcels.each do |parcel|%>
						<li id="sidebar-item-<%parcel.id%>">
							<%= link_to_function "<strong>#{parcel.full_address}</strong> #{parcel.pertinent_info}", "focusPoint(#{parcel.id})"%>
						<li>
					<%end%>
				</ul>
			</div>
		</div>
		
	</body>
</html>